Nama        : Rafli Alfian Nilofar

NIM         : 2041720092

Kelas       : TI-3A

Absen       : 23

# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka —> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [85]:
#import library yang diperlukan
import numpy as np
import pandas as pd

#membaca file excel menjadi dataframe
df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [86]:
#menampilkan informasi detail dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_ketua            82 non-null     float64
 1   id_anggota1         80 non-null     float64
 2   id_anggota2         81 non-null     float64
 3   id_anggota3         82 non-null     float64
 4   id_anggota4         72 non-null     float64
 5   id_anggota5         1 non-null      float64
 6   keterlibatan_vltr   85 non-null     object
 7   jml_vltr_terlibat   85 non-null     int64
 8   tahun               85 non-null     int64
 9   skema               85 non-null     object
 10  luaran_hki          85 non-null     object
 11  jenis_luaran_hki    85 non-null     object
 12  potensi_hki         85 non-null     object
 13  luaran_lain         85 non-null     object
 14  jenis_luaran_lain   85 non-null     object
 15  status_luaran_lain  85 non-null     object
dtypes: float64(6), int64(2), object(8)
memory usage: 10.8+ KB

1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)

In [87]:
#menampilkan modus pada masing-masing kolom
modus_ketua = df["id_ketua"].mode()[0]
df["id_ketua"] = df["id_ketua"].replace(np.nan, modus_ketua)

modus_anggota1 = df["id_anggota1"].mode()[0]
df["id_anggota1"] = df["id_anggota1"].replace(np.nan, modus_anggota1)

modus_anggota2 = df["id_anggota2"].mode()[0]
df["id_anggota2"] = df["id_anggota2"].replace(np.nan, modus_anggota2)

modus_anggota3 = df["id_anggota3"].mode()[0]
df["id_anggota3"] = df["id_anggota3"].replace(np.nan, modus_anggota3)

modus_anggota4 = df["id_anggota4"].mean()
df["id_anggota4"] = df["id_anggota4"].replace(np.nan, modus_anggota4)

#menghapus kolom 'id_anggota5'
df.drop('id_anggota5', axis=1, inplace=True)

df

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.000000,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.000000,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.000000,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.000000,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.000000,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.000000,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.000000,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,8602.0,8572.388889,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.000000,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.000000,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [88]:
#melihat hasil atau summary null value
df.isnull().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [89]:
#import library yang diperlukan
from sklearn.model_selection import train_test_split

#split data train dan testing 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=4)

X_val, X_unseen, y_val, y_unseen = train_test_split(X_test, y_test, test_size=0.6, random_state=5)

2. Tentukan data validasi! (10 poin)

In [90]:
#import library yang diperlukan
from sklearn.model_selection import train_test_split

#split data train dan testing
df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=3, stratify=df['keterlibatan_vltr'])

df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['keterlibatan_vltr'])

print(f'Total label data asli  : \n{df.keterlibatan_vltr.value_counts()}')
print(f'Total label data train : \n{df_train.keterlibatan_vltr.value_counts()}')
print(f'Total label data vali  : \n{df_val.keterlibatan_vltr.value_counts()}')
print(f'Total label data testing : \n{df_test.keterlibatan_vltr.value_counts()}')

Total label data asli  :
TIDAK    45
YA       40
Name: keterlibatan_vltr, dtype: int64
Total label data train :
TIDAK    36
YA       32
Name: keterlibatan_vltr, dtype: int64
Total label data vali  :
YA       4
TIDAK    4
Name: keterlibatan_vltr, dtype: int64
Total label data testing :
TIDAK    5
YA       4
Name: keterlibatan_vltr, dtype: int64

3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)

In [91]:
#import library yang diperlukan
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

#encoding menjadi data numerik
df['keterlibatan_vltr']= label_encoder.fit_transform(df['keterlibatan_vltr'])
df['skema']= label_encoder.fit_transform(df['skema'])
df['luaran_hki']= label_encoder.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki']= label_encoder.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki']= label_encoder.fit_transform(df['potensi_hki'])
df['luaran_lain']= label_encoder.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain']= label_encoder.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain']= label_encoder.fit_transform(df['status_luaran_lain'])

In [92]:
#menyeleksi label dataframe
X = df.iloc[:,6:16]
y = df['tahun']
X.head()

,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,2019,1,1,1,2,0,3,1
1,0,2019,1,1,1,2,0,3,1
2,0,2019,1,1,1,2,0,3,1
3,0,2019,1,1,1,2,0,3,1
4,0,2019,1,1,1,2,0,3,1

4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)

In [93]:
#import library yang diperlukan
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dt = DecisionTreeClassifier()

#menyesuaikan variabel dt kedalam training
dt.fit(X_train, y_train)

#memprediksi label test
y_pred_dt = dt.predict(X_test)
print(y_pred_dt)

#Melakukan testing accuracy dt
acc_dt = accuracy_score(y_test,y_pred_dt)
print("Hasil Test accuracy: {:.2f}".format(acc_dt))
print(f"Hasil Test accuracy: {acc_dt}")

[2020 2021 2020 2020 2020 2022 2022 2022 2022 2021 2022 2021 2021 2022
 2022 2019 2019]
Hasil Test accuracy: 1.00
Hasil Test accuracy: 1.0

In [94]:
#import library yang diperlukan
from sklearn.svm import SVC

svm_poly = SVC(kernel='poly', degree=8)

#menyesuaikan variabel svm_poly kedalam training
svm_poly.fit(X_train, y_train)

#memprediksi label test
y_pred_svm_poly = svm_poly.predict(X_test)
print(y_pred_svm_poly)

#Melakukan testing accuracy svm_poly
acc_svm_poly= accuracy_score(y_test, y_pred_svm_poly)
print("Hasil Test accuracy : {:.2f}".format(acc_svm_poly))
print(f"Hasil Test accuracy : {acc_svm_poly}")

[2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022
 2022 2022 2022]
Hasil Test accuracy : 0.41
Hasil Test accuracy : 0.4117647058823529

5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [95]:
#import library yang diperlukan
from sklearn.model_selection import RepeatedKFold

#mengulangi K-Fold dengan pengacakan yang berbeda di setiap pengulangan
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

dt = DecisionTreeClassifier()

#mendefinisikan parameter
params = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : list(range(5,11))
}

#menginisiasikan grid
grid = GridSearchCV(dt, param_grid=params, cv=cv)

#train atau fit data 
%timeit grid.fit(X,y)

#melakukan evaluasi
score = grid.score(X,y)
print(f'Hasil dari evaluasi\t\t\t: {score}')
print(f'Hasil Konfigurasi hyperparameter\t: {grid.best_params_}')

672 ms ± 87 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
Hasil dari evaluasi			: 1.0
Hasil Konfigurasi hyperparameter	: {'criterion': 'gini', 'max_depth': 5}

In [96]:
#import library yang diperlukan
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

svm = SVC()

#mendefinisikan parameter
params = {
    'C' : [0.1, 1, 10],
    'degree' : [3],
    'kernel' : ['linear','poly','rbf']
}

#menginisiasikan grid
grid = GridSearchCV(svm, param_grid=params, cv=cv)

#train atau fit data 
%timeit grid.fit(X,y)

#melakukan evaluasi
score = grid.score(X,y)
print(f'Hasil dari evaluasi\t\t\t: {score}')
print(f'Hasil Konfigurasi hyperparameter\t: {grid.best_params_}')

526 ms ± 30.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
Hasil dari evaluasi			: 1.0
Hasil Konfigurasi hyperparameter	: {'C': 1, 'degree': 3, 'kernel': 'linear'}

In [97]:
#import library yang diperlukan
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

dt = DecisionTreeClassifier()

#mendefinisikan parameter
params = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : list(range(5,11))
}

#menginisiasikan grid
grid = RandomizedSearchCV(dt, params, cv=cv)

#train atau fit data
%timeit grid.fit(X,y)

#melakukan evaluasi
score = grid.score(X,y)
print(f'Hasil dari evaluasi\t\t\t: {score}')
print(f'Hasil Konfigurasi hyperparameter\t: {grid.best_params_}')

490 ms ± 28.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
Hasil dari evaluasi			: 1.0
Hasil Konfigurasi hyperparameter	: {'max_depth': 5, 'criterion': 'gini'}

In [98]:
#import library yang diperlukan
from sklearn.svm import SVC
from sklearn.model_selection import RandomizedSearchCV

svm = SVC()

#mendefinisikan parameter
params = {
    'C' : [0.1, 1, 10],
    'degree' : [3],
    'kernel' : ['linear','poly','rbf']
}

#menginisiasikan grid
grid = RandomizedSearchCV(svm, params, cv=cv)

#train atau fit data
%timeit grid.fit(X,y)

#melakukan evaluasi
score = grid.score(X,y)
print(f'Hasil dari evaluasi\t\t\t: {score}')
print(f'Hasil Konfigurasi hyperparameter\t: {grid.best_params_}')

c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
c:\Users\RAFLI\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 9 is smaller than n_iter=10. Running 9 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

538 ms ± 32.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
Hasil dari evaluasi			: 1.0
Hasil Konfigurasi hyperparameter	: {'kernel': 'linear', 'degree': 3, 'C': 1}

In [99]:
#import library yang diperlukan
from sklearn.svm import SVC

#menginisiasi model model_svc_manual
model_svc_manual = SVC(C=10, kernel='poly', degree=3)

%timeit model_svc_manual.fit(X, y)

#melakukan evaluasi
score = model_svc_manual.score(X,y)
print(f'Hasil dari evaluasi\t: {score}')

2.06 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
Hasil dari evaluasi	: 0.3176470588235294